# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/

# Environnement virtuel
env/
venv/
.venv/
ENV/

# Environnement
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Déploiement
staticfiles/
*.pid
coverage.xml
*.cover
htmlcov/
.coverage
.cache
nosetests.xml

# Packages
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg
lib/
lib64/
__pycache__/

description.md